{% extends 'index.html' %}
{% block title %}Register{% endblock %}
{% block body %}
	<div class="container d-flex justify-content-center">
		<div class="col-6">
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<div class="mb-3">
						<label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
						{{ field }}
						{% for error in field.errors %}
							<span style="color: #ff0000">{{ error }}</span>
						{% endfor %}
					</div>
				{% endfor %}
				<input type="submit" value="Sign up">
			</form>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
	  document.querySelectorAll('input').forEach(element => {
		  if (element.type === "submit")
			  element.classList.add("btn", "btn-primary");
		  else {
			  element.classList.add("form-control");
			  element.id = element.name;
		  }
	  });
	</script>
{% endblock %}